
<div class="row main-heading-box">
  <div class="col heading-item">
    <img class="row"
         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQp9yjwOfTYRfpRTNsQuIbs_2c7XQeTCg2MDg&usqp=CAU"
         alt="img">
    <div class="row heading-item-description">Category</div>
  </div>
  <div class="col heading-item">
    <img class="row"
         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQp9yjwOfTYRfpRTNsQuIbs_2c7XQeTCg2MDg&usqp=CAU"
         alt="img">
    <div class="row heading-item-description">Category</div>
  </div>
  <div class="col heading-item">
    <img class="row"
         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQp9yjwOfTYRfpRTNsQuIbs_2c7XQeTCg2MDg&usqp=CAU"
         alt="img">
    <div class="row heading-item-description">Category</div>
  </div>
</div>
